@page "{handler?}"

@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div>
	<button onclick="runCode()">Generate Data Model</button>
	<script>
		function runCode() {
			var code = $('div#input_request').text()
			try {

				code = code.replace(/\r?\n|\r/g, "");
				if (code.substring(code.length - 1) == ";") {
					code = code.substring(0, code.length - 1);
				}

				if (code.substring(0, 1) == "'") {
					code = code.substring(1, code.length);
				}

				if (code.substring(code.length - 1) == "'") {
					code = code.substring(0, code.length - 1);
				}
				var codeConext = { "Code": code, "Language": "c#" };

				$.ajax({
					url: '/api/CodeGenerator/',
					type: 'POST',
					contentType: 'application/json; charset=utf-8',
					headers: {
						RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
					},
					data: JSON.stringify(codeConext)
				})
					.done(function (response) {
						$('#updated_response').html(response);
					})
					.fail(function () {
						alert("error");
					});
			} catch (e) {
				alert(e);
			}
		}

	</script>
</div>

<div class="flex-container">
	<div class="flex-child input-request" contenteditable="true" id="input_request">
	</div>

	<div class="flex-child">
		<pre id="updated_response">
		</pre>
	</div>
</div>
