<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/3262fc31-9d93-4fc1-ba93-912ffa65fa64/resourcegroups/blkhost-rg/providers/Microsoft.ContainerRegistry/registries/blkhostreg</ContainerResourceId>
    <ContainerResourceName>blkhostreg</ContainerResourceName>
    <Subscription>Credit Suisse Visual Studio Premium with MSDN</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>blkhostreg.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/3262fc31-9d93-4fc1-ba93-912ffa65fa64/resourcegroups/blkhost-rg/providers/Microsoft.Web/sites/blkhost-appsvc</ResourceId>
    <ResourceGroup>blkhost-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://blkhost-appsvc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://blkhost-appsvc.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8cb250a8-bc81-4239-b5a8-c058f690b07b</ProjectGuid>
  </PropertyGroup>
</Project>